<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tela01.Properties.Settings.CadiDbConnectionString"
            connectionString="Data Source=13.90.44.28;Initial Catalog=CadiDb;User ID=Piloto;Password=cadi#2020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>